{% extends "base.html" %}


{% block contenido%}
<div class="about_us_div">
    <h1 class="about_us_header">EXPOSICIÓN PERMANENTE</h1>
    <p>
        
        Nuestra exposición cuenta actualmente con 100 trajes totalmente vestidos, para verlos in situ, actualmente contamos con 
        120 metros de exposición permanentes.

        La exposición se encuentra abierta en horario comercial, de lunes a viernes, también el sábado tenemos un horario 
        especial para atender a los clientes que tienen que desplazarse, 10:00 a 13:30 y 16:00 a 19:00, el ultimo domingo de 
        cada mes estamos abiertos para todas las visitas.

        No obstante lo mejor es el contacto directo y establecer una cita en nuestro correo electrónico, web o directamente a 
        nuestros teléfonos de contacto.

        Lo mejor: la atención personalizada y la cantidad de oferta que tenemos para satisfacer su imaginación.

    </p>
</div>
<div class="image_div">
    <img class="ampliar_img" src="/static/img/expo1.jpg" height="250" width="416"/>        
    <img class="ampliar_img" src="/static/img/expo2.jpg" height="250" width="416"/>
    <img class="ampliar_img" src="/static/img/expo3.jpg" height="250" width="416"/>
    <img class="ampliar_img" src="/static/img/expo4.jpg" height="250" width="416"/>
    <img class="ampliar_img" src="/static/img/expo5.jpg" height="250" width="416"/>
    <img class="ampliar_img" src="/static/img/expo6.jpg" height="250" width="416"/>
    <img class="ampliar_img" src="/static/img/expo7.jpg" height="250" width="416"/>
    <img class="ampliar_img" src="/static/img/expo8.jpg" height="250" width="416"/>
    <img class="ampliar_img" src="/static/img/expo9.jpg" height="250" width="416"/>
    <img class="ampliar_img" src="/static/img/expo10.jpg" height="250" width="416"/>
    <img class="ampliar_img" src="/static/img/expo11.jpg" height="250" width="416"/>
</div>

{% endblock %}