{% extends "base.html" %}


{% block contenido%}
    <div class="about_us_div">
        <a class="button" href="about_angel">Fundador</a> 
        <a class="button" href="about_exposition">Exposición</a> 
    </div>

<h1>LIDER EN FIESTAS DE MOROS Y CRISTIANOS</h1>
<h2>Creamos Ilusión.</h2>

Si hay una empresa líder a nivel nacional en la venta y alquiler de trajes para Fiestas de Moros y Cristianos, esa es la Villenera empresa de «La Jaima y Fiesta, SL».
Inicios

«La Jaima» inició en Villena su actividad empresarial en 1989. Su sede estaba situada en la conocida Plaza de Santa María. Las instalaciones pronto se fueron quedando pequeñas ante el volumen de negocio, y en 1997 mudaron su situación física a su actual ubicación en la Avenida de Alicante. La Dirección recayó en la persona de Ángel C. Díaz Flor, festero, fundó la escuadra de tuareg e hijo de aquel gran maestro de festeros de todos conocido en Villena, que fue el artesano de la madera y el metal D. Luis Díaz Coloma.

Angel C. Díaz Flor ha vivido y vive dedicado en cuerpo y alma a las fiestas.
Actividad

La dedicación profesional de «La Jaima» se centra en todo el proceso de creación y ejecución de un atuendo festero: confección, fabricación, diseño, venta y alquiler de todo tipo de trajes para Fiestas de Moros y Cristianos, especializándose en el bando Moro, pero no solo los Moros y Cristianos forman parte de la panoplia empresarial de «La Jaima», pues otros tipos de Fiestas tan dispares y variadas como pueden ser las Cabalgatas de Reyes de Navidad, Carnavales, animación en Cruceros y Congresos Internacionales, aparte de convertirse en suministradores de trajes de moros para el Desafío Medieval del Castillo “Conde de Alfaz”.

En las Capitanías Moras se estudian, diseñan y fabrican todos los tipos de complementos que puede llevar un boato desde la ropa propiamente dicha, campanillas, paipais, banderas y todo tipo de utensilios que puedan servir para dar esplendor a cualquier tipo de desfile.
Colaboradores

Hemos de destacar por su gran relevancia en el diseño de los diferentes trajes y atuendos, en la Actualidad es Johana Ramos que le ha dado un vuelco a los diseños sobre todo los de mujer guerra, que han sido seguidos por otras empresas.

Acompañan en los desfiles colaborando para realzar más la puesta en escena de los atuendos festeros, como la maquilladora Lidia Saavedra, los ballets Solera y carrozas el Llombo.
Clientes

El caso de Villena es muy relevante, vistiendo las mejores escuadras que han participado durante las historia de las fiestas, Jeques, Rassies, Escorpiones, Galeón, Jenízaros, Sarracenos, Tuareg, Abencerrajes, Beduinas, Damasquinas, Guadix y Zegries, pero cuando salimos de la ciudad de Villena es cuando nos encontramos con el verdadero nivel que alcanza «La Jaima» en el desarrollo de su trabajo. Distribuye en varios cientos de ciudades y pueblos de las provincias de Alicante, Valencia, Murcia, Castellón, Granada, Almería, Albacete, Cuenca, Toledo o Lérida, que celebran Fiestas de Moros y Cristianos.

El exterior tampoco se le ha resistido a «La Jaima», pues han realizado varias expediciones fuera de España, de tipo cultural y festera. Por ejemplo y por citar algunos casos, en Italia fueron a la ciudad de Bellunno, situada a 115 kilómetros de Venecia, para asistir a la Feria del Helado de dicha ciudad. A la misma asistieron con varios trajes de Escuadras Especiales , masculinos y femeninos. En Alemania asistieron invitados por la Junta Central de Moraira y Denia, con destino en Francfort. Y en Francia a Fontenay-le-comte, desde 2004 hasta hoy vamos cada dos años en este caso son invitados por la Junta Central de Crevillente.
Actualidad y Futuro

La empresa a consumado un relevo generacional, actualmente la dirección recae en José Vicente Gisbert, persona que ha aportado un nuevo dinamismo a la empresa, desde hacer una empresa estructurada, eficaz, competente y funcional, realiza un cambio muy importante en el diseño y confección con una nueva línea de traje guerrero que en la actualidad es el más solicitado.

La web (http://www.la-jaima.com) junto con las redes sociales, hacen que los trajes lleguen mucho mas lejos siendo la principal fuente de contactos y comercialización de servicios en la empresa.
Valor

«La Jaima» tiene un valor empresarial reconocido en el diseño, confección, alquiler y venta de trajes de Moros para Fiestas de Moros y Cristianos. Empresa que ha sabido conjugar a la perfección, la tradición y el futuro dentro de la cultura que representan las Fiestas de Moros y Cristianos en la actualidad.


{% endblock %}


    