{% extends "base.html" %}


{% block contenido%}
<div class="about_us_div">
    <h1 class="about_us_header">ALMACENES</h1>
    <p>

    Actualmente disponemos de almacenes para todos nuestros trajes en la sede, todos los trajes se quedan colgados en perchas 
    organizados y preparados para su alquiler.<br>
    Durante la época de baja actividad en el alquiler, nuestros trabajadores organizan y preparan toda los trajes para su 
    perfecto estado de mantenimiento.<br>
    Durante toda la campaña disponemos de un servicio de limpieza interior, donde se lavan y repasan todos los trajes, para que
    el cliente tenga las sensaciones adecuadas a la hora de vestir nuestros trabajos.

    </p>
</div>
<div class="image_div">
    <img class="ampliar_img" src="/static/img/store1.jpg" height="250" width="416"/>        
    <img class="ampliar_img" src="/static/img/store2.jpg" height="250" width="416"/>
    <img class="ampliar_img" src="/static/img/store3.jpg" height="250" width="416"/>
    <img class="ampliar_img" src="/static/img/store4.jpg" height="250" width="416"/>
    <img class="ampliar_img" src="/static/img/store5.jpg" height="250" width="416"/>
    <img class="ampliar_img" src="/static/img/store6.jpg" height="250" width="416"/>
    <img class="ampliar_img" src="/static/img/store7.jpg" height="250" width="416"/>
    <img class="ampliar_img" src="/static/img/store8.jpg" height="250" width="416"/>
    <img class="ampliar_img" src="/static/img/store9.jpg" height="250" width="416"/>
    <img class="ampliar_img" src="/static/img/store10.jpg" height="250" width="416"/>
    <img class="ampliar_img" src="/static/img/store11.jpg" height="250" width="416"/>

</div>


    
    

{% endblock %}