{% extends "base.html" %}


{% block contenido%}
<body class="angel_body">
    <h1>FUNDADOR - Angel C. Díaz Flor</h1>
    <div align: center>
        <img src="/static/img/angel.jpg" hspace="5" vspace="5" style="float: right;" />
        <p>
        «La Jaima» inició en Villena su actividad empresarial en 1989 y su sede estaba situada en la conocida Plaza de Sta. 
        María, Número 11. Las instalaciones pronto se fueron quedando pequeñas ante el volumen de negocio, y en 1997 mudaron su situación
        física a su actual ubicación en la Avenida de Alicante, número 15. 
        Su Dirección recae en la persona de Ángel C. Díaz Flor, festero e hijo de aquel gran maestro de festeros por todos conocido en 
        Villena, que fue el artesano de la madera y el metal D. Luis Díaz Coloma. 

        Desde muy pequeño se vinculó a las fiestas de Moros y Cristianos, su padre todos los años en su carpintería realizaba armas e 
        indumentarias para las fiestas y también preparaba las carrozas que luego tomarían parte en el desfile.         
        Componente y fundador de la Escuadra TUAREG que cuenta con 50 años de desfiles a sus espaldas en la fiesta de Villena, participó en
        la realización de todos los trajes especiales y durante una época estuvo comercializando los mismos por todos los pueblos y ciudades,
        más tarde empezó su negocio en solitario creando LA JAIMA que ya ha cumplido su 30 aniversario.

        La dedicación profesional de Ángel en la  «La Jaima» se centra en todo el proceso de creación y ejecución de un atuendo festero: 
        confección, fabricación, diseño, venta y alquiler de todo tipo de trajes para Fiestas de Moros y Cristianos. 
        Dicha especialidad empresarial se centra, más concretamente, en trajes de Moros, Moras, Niños y niñas. 
        Pero no solo los Moros y Cristianos forman parte de la panoplia empresarial de «La Jaima», pues otros tipos de Fiestas tan dispares 
        y variadas como pueden ser las Cabalgatas de Reyes de Navidad, Carnavales, Viajes de Crucero y Capitanías Moras, también son 
        clientes de «La Jaima».
        </p>
        <img src="/static/img/angel_tuareg.jpg" hspace="5" vspace="5" style="float: center;" />
    </div>
</body>
        

{% endblock %}