{% extends "base.html" %}


{% block contenido%}
    <div class="about_us_div">

        <h1>Actualidad del blog</h1>
        <div >
            <h2 class="blog_header_div">Diseño, confección, alquiler y venta de trajes de Moro</h2>
           
            <p class="blog_post_div">
                Articulo original en el blog de <a href="https://www.prontopro.es/blog/diseno-confeccion-alquiler-y-venta-de-trajes-de-moros/"><img src="/static/img/logo_pronto_pro.png"/></a>
                <br><br>
                Jose Vicente Gisbert, nació hace 48 años en Villena, es trabajador de la Jaima desde hace casi 30 años, 
                actualmente, es gerente de dicha empresa, con las mismas ganas e ilusión que cuando empezó, pero con nuevas 
                ideas que se adaptan al nuevo mercado, y siempre con el eslogan de La Jaima por bandera: “Creamos Ilusión”.
            </p>



        </div>
    </div>
    



{% endblock %}