{% extends "base.html" %}

{% block titulo %} {% endblock %}


{% block contenido%}
<div class="rents_header">
    
    <h1 >Contacto con la jaima.</h1>
    <div class="image_div">
        <img class="ampliar_img" src="/static/img/fachada_jaima.jpg" height="250" width="416"/>        
    </div>
    <h6 >
        <h5>Visítanos en nuestra exposición que está en:</h5>
        Avda. Alicante, 15.<br>
        Villena-Alicante (03400).<br>
        FRENTE A GASOLINERA REPSOL.<br>
    </h6>
    <h6 >
        <h5>Puede llamarnos al móvil:</h5>
        José Vicente: 639241769.<br>
        Eva: 666330949.
    </h6>
    <h6 >
        <h5>O dejarnos sus datos en el siguiente formulario:</h5>
    </h6>

</div>   




{% endblock %}


