{% extends "base.html" %}

{% block titulo %} {% endblock %}


{% block contenido%}
<div class="rents_header">
    <h1 >Alquiler de trajes para escuadras femeninas.</h1>
</div>   
<div class="image_div">
    <a href="rents_020519_mujer_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/020519_mujer_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020219_mujer_tuaresa">
        <img class="ampliar_img" border="0" src="/static/img/020219_mujer_tuaresa_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_021020_mujer_guerrera">
        <img class="ampliar_img" border="0" src="/static/img/021020_mujer_guerrera_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020819_mujer_beduina">
        <img class="ampliar_img" border="0" src="/static/img/020819_mujer_beduina_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020419_mujer_jenizara">
        <img class="ampliar_img" border="0" src="/static/img/020419_mujer_jenizara_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020319_mujer_zegrie">
        <img class="ampliar_img" border="0" src="/static/img/020319_mujer_zegrie_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020318_mujer_zegrie">
        <img class="ampliar_img" border="0" src="/static/img/020318_mujer_zegrie_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020218_mujer_tuaresa">
        <img class="ampliar_img" border="0" src="/static/img/020218_mujer_tuaresa_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020518_mujer_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/020518_mujer_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020818_mujer_beduina">
        <img class="ampliar_img" border="0" src="/static/img/020818_mujer_beduina_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_021018_mujer_guerrera">
        <img class="ampliar_img" border="0" src="/static/img/021018_mujer_guerrera_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_021117_mujer_dragona">
        <img class="ampliar_img" border="0" src="/static/img/021117_mujer_dragona_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020817_mujer_beduina">
        <img class="ampliar_img" border="0" src="/static/img/020817_mujer_beduina_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020217_mujer_tuaresa">
        <img class="ampliar_img" border="0" src="/static/img/020217_mujer_tuaresa_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020716_mujer_jeque">
        <img class="ampliar_img" border="0" src="/static/img/020716_mujer_jeque_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020416_mujer_jenízara">
        <img class="ampliar_img" border="0" src="/static/img/020416_mujer_jenízara_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020216_mujer_tuaresa">
        <img class="ampliar_img" border="0" src="/static/img/020216_mujer_tuaresa_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020816_mujer_beduina">
        <img class="ampliar_img" border="0" src="/static/img/020816_mujer_beduina_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020316_mujer_zegrie">
        <img class="ampliar_img" border="0" src="/static/img/020316_mujer_zegrie_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020516_mujer_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/020516_mujer_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020815_mujer_beduina">
        <img class="ampliar_img" border="0" src="/static/img/020815_mujer_beduina_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020515_mujer_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/020515_mujer_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_021015_mujer_guerrera">
        <img class="ampliar_img" border="0" src="/static/img/021015_mujer_guerrera_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_021014_mujer_guerrera">
        <img class="ampliar_img" border="0" src="/static/img/021014_mujer_guerrera_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020814_mujer_guerrera">
        <img class="ampliar_img" border="0" src="/static/img/020814_mujer_guerrera_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020414_mujer_jenizara">
        <img class="ampliar_img" border="0" src="/static/img/020414_mujer_jenizara_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020514_mujer_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/020514_mujer_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020913_mujer_ibi">
        <img class="ampliar_img" border="0" src="/static/img/020913_mujer_ibi_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020413_mujer_jenizara">
        <img class="ampliar_img" border="0" src="/static/img/020413_mujer_jenizara_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_021013_mujer_guerrera">
        <img class="ampliar_img" border="0" src="/static/img/021013_mujer_guerrera_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020513_mujer_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/020513_mujer_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020313_mujer_zegrie">
        <img class="ampliar_img" border="0" src="/static/img/020313_mujer_zegrie_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020312_mujer_zegrie">
        <img class="ampliar_img" border="0" src="/static/img/020312_mujer_zegrie_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020812_mujer_beduina">
        <img class="ampliar_img" border="0" src="/static/img/020812_mujer_beduina_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020212_mujer_tuaresa">
        <img class="ampliar_img" border="0" src="/static/img/020212_mujer_tuaresa_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020211_mujer_tuaresa">
        <img class="ampliar_img" border="0" src="/static/img/020211_mujer_tuaresa_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020411_mujer_jenizara">
        <img class="ampliar_img" border="0" src="/static/img/020411_mujer_jenizara_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020811_mujer_beduina">
        <img class="ampliar_img" border="0" src="/static/img/020811_mujer_beduina_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020611_mujer_sarracena">
        <img class="ampliar_img" border="0" src="/static/img/020611_mujer_sarracena_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_021011_mujer_guerrera">
        <img class="ampliar_img" border="0" src="/static/img/021011_mujer_guerrera_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020511_mujer_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/020511_mujer_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020310_mujer_zegrie">
        <img class="ampliar_img" border="0" src="/static/img/020310_mujer_zegrie_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020810_mujer_beduina">
        <img class="ampliar_img" border="0" src="/static/img/020810_mujer_beduina_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020510_mujer_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/020510_mujer_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020809_mujer_beduina">
        <img class="ampliar_img" border="0" src="/static/img/020809_mujer_beduina_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020609_mujer_sarracena">
        <img class="ampliar_img" border="0" src="/static/img/020609_mujer_sarracena_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020409_mujer_jenizara">
        <img class="ampliar_img" border="0" src="/static/img/020409_mujer_jenizara_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020509_mujer_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/020509_mujer_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020209_mujer_tuaresa">
        <img class="ampliar_img" border="0" src="/static/img/020209_mujer_tuaresa_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020709_mujer_jeque">
        <img class="ampliar_img" border="0" src="/static/img/020709_mujer_jeque_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020608_mujer_sarracena">
        <img class="ampliar_img" border="0" src="/static/img/020608_mujer_sarracena_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020408_mujer_jenizara">
        <img class="ampliar_img" border="0" src="/static/img/020408_mujer_jenizara_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020206_mujer_tuaresa">
        <img class="ampliar_img" border="0" src="/static/img/020206_mujer_tuaresa_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020606_mujer_sarracena">
        <img class="ampliar_img" border="0" src="/static/img/020606_mujer_sarracena_front.jpg" height="450" width="300"/>
    </a>
    
    
    
    
</div>
<p>



{% endblock %}