{% extends "base.html" %}

{% block titulo %} {% endblock %}


{% block contenido%}
<div class="rents_header">
    <h1 >Alquiler de trajes para escuadras femeninas.</h1>
</div>   
<div class="image_div">
    <a href="rents_020519_mujer_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/020519_mujer_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020219_mujer_tuaresa">
        <img class="ampliar_img" border="0" src="/static/img/020219_mujer_tuaresa_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_021020_mujer_guerrera">
        <img class="ampliar_img" border="0" src="/static/img/021020_mujer_guerrera_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020819_mujer_beduina">
        <img class="ampliar_img" border="0" src="/static/img/020819_mujer_beduina_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020419_mujer_jenizara">
        <img class="ampliar_img" border="0" src="/static/img/020419_mujer_jenizara_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020319_mujer_zegrie">
        <img class="ampliar_img" border="0" src="/static/img/020319_mujer_zegrie_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020318_mujer_zegrie">
        <img class="ampliar_img" border="0" src="/static/img/020318_mujer_zegrie_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020218_mujer_tuaresa">
        <img class="ampliar_img" border="0" src="/static/img/020218_mujer_tuaresa_front.jpg" height="450" width="300"/>
    </a>
    
    
</div>
<p>



{% endblock %}