{% extends "base.html" %}

{% block titulo %} {% endblock %}


{% block contenido%}
<div class="rents_header">
    <h1 >Alquiler de trajes para escuadras masculinas.</h1>
</div>   
<div class="image_div">
    <a href="rents_011020_hombre_guerrero">
        <img class="ampliar_img" border="0" src="/static/img/011020_hombre_guerrero_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010119_hombre_abencerraje">
        <img class="ampliar_img" border="0" src="/static/img/010119_hombre_abencerraje_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010419_hombre_jenizaro">
        <img class="ampliar_img" border="0" src="/static/img/010419_hombre_jenizaro_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010219_hombre_tuareg">
        <img class="ampliar_img" border="0" src="/static/img/010219_hombre_tuareg_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010218_hombre_tuareg">
        <img class="ampliar_img" border="0" src="/static/img/010218_hombre_tuareg_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010318_hombre_caiman">
        <img class="ampliar_img" border="0" src="/static/img/010318_hombre_caiman_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010518_hombre_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/010518_hombre_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010118_hombre_abencerraje">
        <img class="ampliar_img" border="0" src="/static/img/010118_hombre_abencerraje_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_011018_hombre_guerrero">
        <img class="ampliar_img" border="0" src="/static/img/011018_hombre_guerrero_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_011117_hombre_dragon">
        <img class="ampliar_img" border="0" src="/static/img/011117_hombre_dragon_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010117_hombre_abencerraje">
        <img class="ampliar_img" border="0" src="/static/img/010117_hombre_abencerraje_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010217_hombre_tuareg">
        <img class="ampliar_img" border="0" src="/static/img/010217_hombre_tuareg_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010416_hombre_jenizaro">
        <img class="ampliar_img" border="0" src="/static/img/010416_hombre_jenizaro_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010216_hombre_tuareg">
        <img class="ampliar_img" border="0" src="/static/img/010216_hombre_tuareg_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010116_hombre_abencerraje">
        <img class="ampliar_img" border="0" src="/static/img/010116_hombre_abencerraje_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010316_hombre_caiman">
        <img class="ampliar_img" border="0" src="/static/img/010316_hombre_caiman_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010516_hombre_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/010516_hombre_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010115_hombre_abencerraje">
        <img class="ampliar_img" border="0" src="/static/img/010115_hombre_abencerraje_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010515_hombre_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/010515_hombre_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010215_hombre_tuareg">
        <img class="ampliar_img" border="0" src="/static/img/010215_hombre_tuareg_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_011015_hombre_guerrero">
        <img class="ampliar_img" border="0" src="/static/img/011015_hombre_guerrero_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_011014_hombre_guerrero">
        <img class="ampliar_img" border="0" src="/static/img/011014_hombre_guerrero_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010214_hombre_tuareg">
        <img class="ampliar_img" border="0" src="/static/img/010214_hombre_tuareg_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010414_hombre_jenizaro">
        <img class="ampliar_img" border="0" src="/static/img/010414_hombre_jenizaro_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010514_hombre_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/010514_hombre_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010913_hombre_ibi">
        <img class="ampliar_img" border="0" src="/static/img/010913_hombre_ibi_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010413_hombre_jenizaro">
        <img class="ampliar_img" border="0" src="/static/img/010413_hombre_jenizaro_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010213_hombre_tuareg">
        <img class="ampliar_img" border="0" src="/static/img/010213_hombre_tuareg_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010312_hombre_zegrie">
        <img class="ampliar_img" border="0" src="/static/img/010312_hombre_zegrie_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010112_hombre_abencerraje">
        <img class="ampliar_img" border="0" src="/static/img/010112_hombre_abencerraje_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010212_hombre_tuareg">
        <img class="ampliar_img" border="0" src="/static/img/010212_hombre_tuareg_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010211_hombre_tuareg">
        <img class="ampliar_img" border="0" src="/static/img/010211_hombre_tuareg_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010411_hombre_jenizaro">
        <img class="ampliar_img" border="0" src="/static/img/010411_hombre_jenizaro_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010111_hombre_abencerraje">
        <img class="ampliar_img" border="0" src="/static/img/010111_hombre_abencerraje_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010611_hombre_sarraceno">
        <img class="ampliar_img" border="0" src="/static/img/010611_hombre_sarraceno_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010511_hombre_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/010511_hombre_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010310_hombre_zegrie">
        <img class="ampliar_img" border="0" src="/static/img/010310_hombre_zegrie_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010110_hombre_abencerraje">
        <img class="ampliar_img" border="0" src="/static/img/010110_hombre_abencerraje_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010510_hombre_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/010510_hombre_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010109_hombre_abencerraje">
        <img class="ampliar_img" border="0" src="/static/img/010109_hombre_abencerraje_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010609_hombre_sarraceno">
        <img class="ampliar_img" border="0" src="/static/img/010609_hombre_sarraceno_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010409_hombre_jenizaro">
        <img class="ampliar_img" border="0" src="/static/img/010409_hombre_jenizaro_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010509_hombre_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/010509_hombre_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010209_hombre_tuareg">
        <img class="ampliar_img" border="0" src="/static/img/010209_hombre_tuareg_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010709_hombre_jeque">
        <img class="ampliar_img" border="0" src="/static/img/010709_hombre_jeque_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010608_hombre_sarraceno">
        <img class="ampliar_img" border="0" src="/static/img/010608_hombre_sarraceno_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010408_hombre_jenizaro">
        <img class="ampliar_img" border="0" src="/static/img/010408_hombre_jenizaro_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010108_hombre_abencerraje">
        <img class="ampliar_img" border="0" src="/static/img/010108_hombre_abencerraje_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010206_hombre_tuareg">
        <img class="ampliar_img" border="0" src="/static/img/010206_hombre_tuareg_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010606_hombre_sarraceno">
        <img class="ampliar_img" border="0" src="/static/img/010606_hombre_sarraceno_front.jpg" height="450" width="300"/>
    </a>

    
    
</div>
<p>



{% endblock %}