{% extends "base.html" %}

{% block titulo %} {% endblock %}


{% block contenido%}
<div class="rents_header">
    <h1 >Alquiler de trajes para escuadras infantiles.</h1>
</div>   
<div class="image_div">
    <a href="rents_030818_niños_beduina">
        <img class="ampliar_img" border="0" src="/static/img/030818_niños_beduina_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030817_niños_beduina">
        <img class="ampliar_img" border="0" src="/static/img/030817_niños_beduina_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030816_niños_beduina">
        <img class="ampliar_img" border="0" src="/static/img/030816_niños_beduina_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030815_niños_beduina">
        <img class="ampliar_img" border="0" src="/static/img/030815_niños_beduina_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_010512_pollito_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/010512_pollito_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_020512_pollita_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/020512_pollita_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030716_niñas_naranjas">
        <img class="ampliar_img" border="0" src="/static/img/030716_niñas_naranjas_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030515_niños_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/030515_niños_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030814_niños_beduina">
        <img class="ampliar_img" border="0" src="/static/img/030814_niños_beduina_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030913_niños_ibi">
        <img class="ampliar_img" border="0" src="/static/img/030913_niños_ibi_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030413_niños_jenizaros">
        <img class="ampliar_img" border="0" src="/static/img/030413_niños_jenizaros_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030812_niños_beduina">
        <img class="ampliar_img" border="0" src="/static/img/030812_niños_beduina_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030312_niños_zegrie">
        <img class="ampliar_img" border="0" src="/static/img/030312_niños_zegrie_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030611_niños_sarraceno">
        <img class="ampliar_img" border="0" src="/static/img/030611_niños_sarraceno_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030811_niños_beduina">
        <img class="ampliar_img" border="0" src="/static/img/030811_niños_beduina_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030211_niños_tuareg">
        <img class="ampliar_img" border="0" src="/static/img/030211_niños_tuareg_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030810_niños_beduina">
        <img class="ampliar_img" border="0" src="/static/img/030810_niños_beduina_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030310_niños_zegrie">
        <img class="ampliar_img" border="0" src="/static/img/030310_niños_zegrie_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030511_niños_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/030511_niños_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030809_niños_beduina">
        <img class="ampliar_img" border="0" src="/static/img/030809_niños_beduina_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030209_niños_tuareg">
        <img class="ampliar_img" border="0" src="/static/img/030209_niños_tuareg_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030608_niños_sarraceno">
        <img class="ampliar_img" border="0" src="/static/img/030608_niños_sarraceno_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030808_niños_beduina">
        <img class="ampliar_img" border="0" src="/static/img/030808_niños_beduina_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030408_niños_jenizaros">
        <img class="ampliar_img" border="0" src="/static/img/030408_niños_jenizaros_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_030807_niños_beduina">
        <img class="ampliar_img" border="0" src="/static/img/030807_niños_beduina_front.jpg" height="450" width="300"/>
    </a>
    
    
    
    

</div>
<p>



{% endblock %}