{% extends "base.html" %}

{% block titulo %} {% endblock %}


{% block contenido%}
<div class="rents_header">
    <h1 >Alquiler de trajes para reyes magos.</h1>
</div>   
<div class="image_div">
    <a href="rents_070101_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070101_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070102_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070102_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070103_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070103_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070201_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070201_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070202_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070202_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070203_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070203_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070204_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070204_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070205_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070205_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070206_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070206_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070207_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070207_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070208_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070208_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070209_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070209_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070301_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070301_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070302_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070302_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070303_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070303_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070304_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070304_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070305_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070305_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070306_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070306_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070307_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070307_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070308_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070308_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070309_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070309_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070310_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070310_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070311_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070311_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070312_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070312_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070313_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070313_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070314_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070314_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070315_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070315_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070316_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070316_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070317_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070317_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070318_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070318_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070319_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070319_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070320_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070320_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    <a href="rents_070321_rey_mago">
        <img class="ampliar_img" border="0" src="/static/img/070321_rey_mago_front.jpg" height="450" width="300"/>
    </a>
    
    
    
    
    
    
    
</div>
<p>

{% endblock %}