{% extends "base.html" %}

{% block titulo %} Alquiler de capitanes masculinos y fememinos {% endblock %}


{% block contenido%}
<div class="rents_header">
    <h1 >Alquiler de trajes para capitanías</h1>
</div>   
<div class="image_div">
    <a href="rents_012019_capitan_beig_rosa">
        <img class="ampliar_img" border="0" src="/static/img/012019_capitan_beig_rosa_front.jpg" height="450" width="300"/>
    </a>
    
    <a href="rents_022019_capitana_beig_rosa">
        <img class="ampliar_img" border="0" src="/static/img/022019_capitana_beig_rosa_front.jpg" height="450" width="300"/>
    </a>

    <a href="rents_012018_capitan_azul_plata">
        <img class="ampliar_img" border="0" src="/static/img/012018_capitan_azul_plata_front.jpg" height="450" width="300"/>
    </a>
    
    <a href="rents_022018_capitana_azul_plata">
        <img class="ampliar_img" border="0" src="/static/img/022018_capitana_azul_plata_front.jpg" height="450" width="300"/>
    </a>

    <a href="rents_012016_capitan_rojo_plata">
        <img class="ampliar_img" border="0" src="/static/img/012016_capitan_rojo_plata_front.jpg" height="450" width="300"/>
    </a>

    <a href="rents_022016_capitana_rojo_plata">
        <img class="ampliar_img" border="0" src="/static/img/022016_capitana_rojo_plata_front.jpg" height="450" width="300"/>
    </a>

    <a href="rents_012015_capitan_blanco_oro">
        <img class="ampliar_img" border="0" src="/static/img/012015_capitan_blanco_oro_front.jpg" height="450" width="300"/>
    </a>
    
    <a href="rents_022015_capitana_blanco_oro">
        <img class="ampliar_img" border="0" src="/static/img/022015_capitana_blanco_oro_front.jpg" height="450" width="300"/>
    </a>

    <a href="rents_012014_capitan_negro_oro">
        <img class="ampliar_img" border="0" src="/static/img/012014_capitan_negro_oro_front.jpg" height="450" width="300"/>
    </a>
    
    <a href="rents_022014_capitana_negro_oro">
        <img class="ampliar_img" border="0" src="/static/img/022014_capitana_negro_oro_front.jpg" height="450" width="300"/>
    </a>
    
    <a href="rents_012013_capitan_ibi_marron">
        <img class="ampliar_img" border="0" src="/static/img/012013_capitan_ibi_marron_front.jpg" height="450" width="300"/>
    </a>
    
    <a href="rents_022013_capitana_ibi_marron">
        <img class="ampliar_img" border="0" src="/static/img/022013_capitana_ibi_marron_front.jpg" height="450" width="300"/>
    </a>
    
    <a href="rents_012015_capitan_azul_verde">
        <img class="ampliar_img" border="0" src="/static/img/012015_capitan_azul_verde_front.jpg" height="450" width="300"/>
    </a>
    
    <a href="rents_022015_capitana_azul_verde">
        <img class="ampliar_img" border="0" src="/static/img/022015_capitana_azul_verde_front.jpg" height="450" width="300"/>
    </a>

    <a href="rents_012012_capitan_rosa_plata">
        <img class="ampliar_img" border="0" src="/static/img/012012_capitan_rosa_plata_front.jpg" height="450" width="300"/>
    </a>
    
    <a href="rents_022012_capitana_rosa_plata">
        <img class="ampliar_img" border="0" src="/static/img/022012_capitana_rosa_plata_front.jpg" height="450" width="300"/>
    </a>
    
    <a href="rents_012013_capitan_ibi_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/012013_capitan_ibi_ecuador_front.jpg" height="450" width="300"/>
    </a>
    
    <a href="rents_022013_capitana_ibi_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/022013_capitana_ibi_ecuador_front.jpg" height="450" width="300"/>
    </a>
    
    <a href="rents_012010_capitan_ibi_morado">
        <img class="ampliar_img" border="0" src="/static/img/012010_capitan_ibi_morado_front.jpg" height="450" width="300"/>
    </a>

    <a href="rents_022010_capitana_ibi_morado">
        <img class="ampliar_img" border="0" src="/static/img/022010_capitana_ibi_morado_front.jpg" height="450" width="300"/>
    </a>

    <a href="rents_012010_capitan_blanco_plata">
        <img class="ampliar_img" border="0" src="/static/img/012010_capitan_blanco_plata_front.jpg" height="450" width="300"/>
    </a>
    
    <a href="rents_022010_capitana_blanco_plata">
        <img class="ampliar_img" border="0" src="/static/img/022010_capitana_blanco_plata_front.jpg" height="450" width="300"/>
    </a>
    
    <a href="rents_012009_capitan_verde_marron">
        <img class="ampliar_img" border="0" src="/static/img/012009_capitan_verde_marron_front.jpg" height="450" width="300"/>
    </a>
    
    <a href="rents_022009_capitana_verde_marron">
        <img class="ampliar_img" border="0" src="/static/img/022009_capitana_verde_marron_front.jpg" height="450" width="300"/>
    </a>

    <a href="rents_012008_capitan_rojo_negro">
        <img class="ampliar_img" border="0" src="/static/img/012008_capitan_rojo_negro_front.jpg" height="450" width="300"/>
    </a>

    <a href="rents_022008_capitana_rojo_negro">
        <img class="ampliar_img" border="0" src="/static/img/022008_capitana_rojo_negro_front.jpg" height="450" width="300"/>
    </a>
    
    <a href="rents_012008_capitan_marron">
        <img class="ampliar_img" border="0" src="/static/img/012008_capitan_marron_front.jpg" height="450" width="300"/>
    </a>
    
    <a href="rents_022008_capitana_marron">
        <img class="ampliar_img" border="0" src="/static/img/022008_capitana_marron_front.jpg" height="450" width="300"/>
    </a>

    <a href="rents_012007_capitan_azul_blanco">
        <img class="ampliar_img" border="0" src="/static/img/012007_capitan_azul_blanco_front.jpg" height="450" width="300"/>
    </a>
    
    <a href="rents_022007_capitana_azul_blanco">
        <img class="ampliar_img" border="0" src="/static/img/022007_capitana_azul_blanco_front.jpg" height="450" width="300"/>
    </a>

    <a href="rents_022006_capitana_rojo_beig">
        <img class="ampliar_img" border="0" src="/static/img/022006_capitana_rojo_beig_front.jpg" height="450" width="300"/>
    </a>
    
</div>
<p>



{% endblock %}