{% extends "base.html" %}

{% block titulo %} {% endblock %}


{% block contenido%}
<div class="rents_header">
    <h1 >Venta de trajes.</h1>
</div>   
<div class="image_div">
    <a href="sales_010507_pollito_rosa">
        <img class="ampliar_img" border="0" src="/static/img/010507_pollito_rosa_front.jpg" height="450" width="300"/>
    </a>
    <a href="sales_040001_boato_negro_plata">
        <img class="ampliar_img" border="0" src="/static/img/040001_boato_negro_plata_front.jpg" height="450" width="300"/>
    </a>
    <a href="sales_030705_niños_jeques">
        <img class="ampliar_img" border="0" src="/static/img/sales_030705_niños_jeques_front.jpg" height="450" width="300"/>
    </a>
    <a href="sales_020205_mujer_tuaresa">
        <img class="ampliar_img" border="0" src="/static/img/020205_mujer_tuaresa_front.jpg" height="450" width="300"/>
    </a>
    <a href="sales_010406_hombre_jenizaro">
        <img class="ampliar_img" border="0" src="/static/img/010406_hombre_jenizaro_front.jpg" height="450" width="300"/>
    </a>
    <a href="sales_010105_hombre_abencerraje">
        <img class="ampliar_img" border="0" src="/static/img/010105_hombre_abencerraje_front.jpg" height="450" width="300"/>
    </a>
    <a href="sales_010005_hombre_escorpion">
        <img class="ampliar_img" border="0" src="/static/img/010005_hombre_escorpion_front.jpg" height="450" width="300"/>
    </a>
    <a href="sales_010006_hombre_escorpion">
        <img class="ampliar_img" border="0" src="/static/img/010006_hombre_escorpion_front.jpg" height="450" width="300"/>
    </a>
    <a href="sales_020508_pollita_azul">
        <img class="ampliar_img" border="0" src="/static/img/020508_pollita_azul_front.jpg" height="450" width="300"/>
    </a>
    <a href="sales_020506_pollita_lila">
        <img class="ampliar_img" border="0" src="/static/img/020506_pollita_lila_front.jpg" height="450" width="300"/>
    </a>
    <a href="sales_020705_mujer_jeque">
        <img class="ampliar_img" border="0" src="/static/img/020705_mujer_jeque_front.jpg" height="450" width="300"/>
    </a>
    <a href="sales_010506_pollito_lila">
        <img class="ampliar_img" border="0" src="/static/img/010506_pollito_lila_front.jpg" height="450" width="300"/>
    </a>
    <a href="sales_010506_hombre_ecuador">
        <img class="ampliar_img" border="0" src="/static/img/010506_hombre_ecuador_front.jpg" height="450" width="300"/>
    </a>
    <a href="sales_010705_hombre_jeque">
        <img class="ampliar_img" border="0" src="/static/img/010705_hombre_jeque_front.jpg" height="450" width="300"/>
    </a>
    

</div>
<p>

{% endblock %}