/*CSS style for base.html*/
.cabecera{
    background-color: white;/*color de fondo*/
    text-align: center;
}

#menu {
    padding: 0;
    margin: 0;
    border: 0; 
}
 
#menu ul, li {
    list-style: none;
    margin: 0;
    padding: 0; 
}
 
#menu ul {
    position: relative;
    z-index: 597;
    float: left; 
}
 
#menu ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle; 
}
 
#menu ul li.hover,
#menu ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default; 
}
 
#menu ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%; 
}
 
#menu ul ul li {
    float: none; 
}
 
#menu ul li:hover > ul {
    visibility: visible; 
}
 
#menu ul ul {
    top: 0;
    left: 100%; 
}
 
#menu ul li {
    float: none; 
    border-radius: 10px;
    margin-left: 10px;
}
 
#menu {
    width: 150px;
}
 
#menu span, #menu a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none; 
}
 
#menu:after, #menu ul:after {
    content: '';
    display: block;
    clear: both; 
}
 
#menu ul, #menu li {
    width: 100%; 
}
#menu li {
    background: #a06195;
}
#menu li:hover {
    background: #ad7171; 
}
#menu a {
    color: white;
    line-height: 160%;
    padding: 11px 28px 11px 28px;
    width: 253px; 
}
#menu ul ul li {
    background: #a06195; 
}
#menu ul ul li:hover {
    background: #ad7171; 
}
#menu ul ul li:hover a {
    color: white; 
}
#menu ul ul li ul li {
    background: #dddddd; 
}
#menu ul ul li ul li:hover {
    background: #b7b7b7; 
}
#menu .has-sub {
    position: relative; 
}
 
#menu .has-sub:after, #menu .has-sub > ul > .has-sub:hover:after {
    content: '';
    display: block;
    width: 10px;
    height: 9px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -5px;
}
 
#menu .fa-angle-right {
    float: right;
}

.button{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: small;
    color: white;
    background-color: #462255;
    
}

.parrafo_indice{
    margin-top: -300px;
    margin-left: 315px;
    font-size: 50px;
    text-align: center;
    
}

.footer {/*estilo para pie de página*/
    padding: 10px;/*relleno entre los bordes y el texto*/
    background-color: #a06195;/*color de fondo*/
    color: white;/*color del texto*/
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%
}

/*CSS style for about_us.html, about_angel.html, about_exposition.html and about_store.html*/
.about_us_header{
    margin-top: -300px;
    text-align: left;
    margin-left: 0px;
    margin-right: 10px;
    padding-bottom: 10px;
}

.about_us_div{
    margin-top: -300px;
    text-align: justify;
    margin-left: 325px;
    margin-right: 10px;
    padding-bottom: 10px;
}

.angel_body{
    color: black;
    text-align: center;
    font-size: large;
    
}

.image_div{
    margin-left: 325px;
    inset-inline-start: 325px;
}

  
.ampliar_img{       /* la imagen en su forma normal */

    -webkit-transform:scale(1); /*Webkit: Scale down image to 0.8x original size*/
    -moz-transform:scale(1); /*Mozilla scale version*/
    -o-transform:scale(1); /*Opera scale version*/
    -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
    -moz-transition-duration: 0.5s; /*Mozilla duration version*/
    -o-transition-duration: 0.5s; /*Opera duration version*/
    opacity: 0.5;
}
.ampliar_img:hover{     /* al pasar el cursor por encima SE AMPLIA*/

    -webkit-transform:scale(1.1); /*Webkit:Modificamos tamaño a escala*/
    -moz-transform:scale(1.1); /*Mozilla:Modificamos tamaño a escala*/
    -o-transform:scale(1.1); /*Opera:Modificamos tamaño a escala*/
    -webkit-transition-duration: 0.5s; /*Webkit:Duración de la animación*/
    -moz-transition-duration: 0.5s; /*Mozilla:Duración de la animació*/
    -o-transition-duration: 0.5s; /*Opera:Duración de la animació*/
    opacity: 1;
}

/*CSS style for rents.html, rents_boatos.html, rents_capitanes.html, rents_hombres.html, rents_mujeres.html, rents_nin@s.html 
    and rents_reyes.html*/

.rents_header{
    margin-top: -300px;
    text-align: left;
    margin-left: 325px;
    margin-right: 10px;
    padding-bottom: 10px;
}

.ampliar_img_rents{       /* la imagen en su forma normal */

    -webkit-transform:scale(1); /*Webkit: Scale down image to 0.8x original size*/
    -moz-transform:scale(1); /*Mozilla scale version*/
    -o-transform:scale(1); /*Opera scale version*/
    -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
    -moz-transition-duration: 0.5s; /*Mozilla duration version*/
    -o-transition-duration: 0.5s; /*Opera duration version*/
    opacity: 0.5;
}
.ampliar_img_rents:hover{     /* al pasar el cursor por encima SE AMPLIA*/

    -webkit-transform:scale(2); /*Webkit:Modificamos tamaño a escala*/
    -moz-transform:scale(2); /*Mozilla:Modificamos tamaño a escala*/
    -o-transform:scale(2); /*Opera:Modificamos tamaño a escala*/
    -webkit-transition-duration: 0.5s; /*Webkit:Duración de la animación*/
    -moz-transition-duration: 0.5s; /*Mozilla:Duración de la animació*/
    -o-transition-duration: 0.5s; /*Opera:Duración de la animació*/
    opacity: 1;
}



